<title>HomeSpace &mdash; Colorlib Website Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!---------------------- Stylesheets  ---------------------->
<!-- magnigid -->
<link rel="stylesheet" href="stylesheets/magnific-popup.css">
<link rel="stylesheet" href="stylesheets/owl.carousel.min.css">

<!-- media player -->
<link rel="stylesheet" href="stylesheets/mediaelementplayer.css">

<!-- fonts -->
<link rel="stylesheet" href="fonts/googleapis.css">
<link rel="stylesheet" href="fonts/icomoon/style.css">

<!-- Bootstrap -->
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">

<!-- default -->
<link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">

<!-- JQuery.css -->
<link rel="stylesheet" href="stylesheets/jquery-ui.css">

<!-- Animate.css -->
<link rel="stylesheet" href="stylesheets/animate.css">

<!-- FlatIcon.css -->
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="stylesheets/fl-bigmug-line.css">

<!-- Theme style  -->
<link rel="stylesheet" href="stylesheets/aos.css">
<link rel="stylesheet" href="stylesheets/style.css">


