<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->

<div class="border-bottom bg-white top-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4 col-md-4">
                <p class="mb-0">
                    <% if (UserType === 'customer'  || UserType === 'agent' || UserType === 'administrator'){%>
                        <a href="#signUp" data-toggle="modal" data-target="#signUpModal"><span class="d-none d-md-inline-block ml-2">LOGOUT </span></a>
                    <% }
                    else {%>
                        <a href="#login" data-toggle="modal" data-target="#loginModal"><span class="d-none d-md-inline-block ml-2">LOGIN </span></a>
                        <a href="#signUp" data-toggle="modal" data-target="#signUpModal"><span class="d-none d-md-inline-block ml-2">SIGN UP</span></a>
                    <% }%>
                </p>
            </div>
            <div class="text-center">
                <p class="mb-0">
                    <a href="#" class="mr-3"><span class="text-black fl-bigmug-line-phone351"></span> <span class="d-none d-md-inline-block ml-2">08 - 6233547</span></a>
                    <a href="#"><span class="text-black fl-bigmug-line-email64"></span> <span class="d-none d-md-inline-block ml-2">homeSpace@jct.ac.il</span></a>
                </p>
            </div>
            <div class="col-4 col-md-4 text-right">
                <a href="#" class="mr-3"><span class="text-black icon-facebook"></span></a>
                <a href="#" class="mr-3"><span class="text-black icon-twitter"></span></a>
                <a href="#" class="mr-0"><span class="text-black icon-linkedin"></span></a>
            </div>
        </div>
    </div>

</div>

<% if (UserType == 'agent'){%>
    <!-- navigation after agent login -->
    <div class="site-navbar">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-4">
                    <h1 class=""><a href="index.html" class="h5 text-uppercase text-black"><strong>HomeSpace<span class="text-danger">.</span></strong></a></h1>
                </div>
                <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li class="has-children">
                                <a href="properties.html">Properties</a>
                                <ul class="dropdown">
                                    <li><a href="#">Buy</a></li>
                                    <li><a href="#">Rent</a></li>
                                    <li><a href="#">Lease</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="#">My Apartments</a></li>
                            <li><a href="#">My Account</a></li>
                            <li class="active"><a href="about.ejs">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>
<% }
else if (UserType == 'administrator'){%>
    <!-- navigation after administrator login -->
    <div class="site-navbar">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-4">
                    <h1 class=""><a href="index.html" class="h5 text-uppercase text-black"><strong>HomeSpace<span class="text-danger">.</span></strong></a></h1>
                </div>
                <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li class="has-children">
                                <a href="properties.html">Management</a>
                                <ul class="dropdown">
                                    <li><a href="#">Users</a></li>
                                    <li><a href="#">Apartments</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li class="active"><a href="about.ejs">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>
<% }
else {%>
    <div class="site-navbar">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-18 col-md-8 col-lg-4">
                    <div class="row align-items-center">
                    <h1 class=""><a href="index.html" class="h5 text-uppercase text-black"><strong>HomeSpace<span class="text-danger">.</span></strong></a></h1>
                    </div>
                </div>
                <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li class="has-children">
                                <a href="properties.html">Properties</a>
                                <ul class="dropdown">
                                    <li><a href="#">Buy</a></li>
                                    <li><a href="#">Rent</a></li>
                                    <li><a href="#">Lease</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <% if (UserType == 'customer'){%>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Favor</a></li>
                            <%}%>
                            <li class="active"><a href="about.ejs">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>
    <% }%>


</div>