<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>



<div class="line">
  <div class="s-12 l-6">
    <p>
      Copyright 2017, Dvora Levitan Shira Shimony & Merav BenPaz
    </p>
  </div>
  <div class="s-12 l-6">
    <p class="right">
      <a class="right" href="https://currencylayer.com" title="currencylayer.com">Infornation by currencylayer.com</a>
    </p>
  </div>
</div>

