

<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Currency Tracker</title>
  <link rel="stylesheet" href="stylesheets/tabels.css">
  <link rel="stylesheet" href="stylesheets/components.css">
    <link rel="stylesheet" href="stylesheets/responsee.css">
      
      <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="owl-carousel/owl.theme.css">
          <!-- CUSTOM STYLE -->
          <link rel="stylesheet" href="stylesheets/template-style.css">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
              <script type="text/javascript" src="javascripts/jquery-1.8.3.min.js"></script>
              <script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
              <script type="text/javascript" src="javascripts/modernizr.js"></script>
              <script type="text/javascript" src="javascripts/responsee.js"></script>


             