<!--
 <nav>
            <div class="line">
               <div class="top-nav">              
                                   
                  <p class="nav-text">Custom menu text</p>
                  <div class="top-nav s-12 l-5">
                     <ul class="right top-ul chevron">
                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="/graph">Home with Graph</a>
                        </li>
                        
                     </ul>
                  </div>
                  <ul class="s-12 l-2">
                     <li class="logo hide-s hide-m">
                        <a href="/">Currency <br /><strong>Tracker</strong></a>
                     </li>
                  </ul>
                  <div class="top-nav s-12 l-5">
                     <ul class="top-ul chevron">
                       <li><a href="/examine">Exploring History</a>
                        </li>
                        <li><a href="/transform">Rates Transform</a>
                        </li>
                     </ul> 
                  </div>
               </div>
            </div>
         </nav>



<nav>
 
 
      <div id="btn1" class="button">
        <a href="/">
         home
        </a>
        
     <div id="btn2" class="button">
        
          <li>
            <a href="/graph">Home with Graph</a>
          </li>
        <div id="btn3" class="button">   
        <li>
            <a href="/examine">Exploring History</a>
          </li>
 </nav>    
   <!--
        </ul>
      </div>
      <ul class="s-12 l-2">
        <li class="logo hide-s hide-m">
          <a href="/">
            Currency <br /><strong>Tracker</strong>
          </a>
        </li>
      </ul>
      <div class="top-nav s-12 l-5">
        <ul class="top-ul chevron">
          <li>
            <a href="/examine">Exploring History</a>
          </li>
          <li>
            <a href="/transform">Rates Transform</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!--
<a href="/">
  <div id="btn1" class="button">
    <h1>HOME</h1>
  </div>
</a>

<a href="https://www.example.co.uk">
  <div id="btn2" class="button">
    <h1>TUTORIALS</h1>
  </div>
</a>

<a href="https://www.example.co.uk">
  <div id="btn3" class="button">
    <h1>ABOUT</h1>
  </div>
</a>
-->

<nav>
  

      <!--<p class="nav-text">Custom menu text</p>-->
    
       
       
     <a href="/">
    <div id="btn1" class="button">
      <h2>Home</h2>
    </div>
  </a>
            <a href="/graph">
      <div id="btn2" class="button">
        <h2>Home with Graph</h2>
      </div>
  </a>
            <a href="/examine">
        <div id="btn3" class="button">
          <h2>Exploring History</h2>
        </div>
            </a>
          
  <a href="/transform">
          <div id="btn4" class="button">
            <h2>Rates Transform</h2>
          </div>

  </a>
</nav>

