
<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body class="container">

שלום אני בטטה
   <%=query.kindOfBatata %>

</body>
</html>


  label: 'Dataset 1',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1  ,
				   <input class="form-control mr-sm-2" type="text" placeholder="Search" name="kindOfBatata">

	