<!DOCTYPE html>
<html lang="en">
 <nav class="navbar navbar-inverse bg-inverse">
  <!-- Navbar content -->
</nav>

<nav class="navbar navbar-inverse bg-primary">
  <!-- Navbar content -->
</nav>

<nav class="navbar navbar-light" style="background-color: powderblue;">
  <!-- Navbar content -->
</nav>
  <head>
  <% include ../partials/head %>
  </head>
   <body class="size-1140">
      <!-- TOP NAV WITH LOGO -->  
      <header>
       
	  
        <% include ../partials/header1 %>
    </header>
   
	  <section>
	 <% include ../partials/section %>
	</section>

  <div id="second-block">
	 <div class="line">
           <!--    <div class="margin-bottom"> -->
			<!--   <div class="margin"> -->
	   <!--  <article class="s-12 l-8 center">    הטבלה במרכז -->
	   <article class="jumbtron"> <!-- left side -->










<head>
<style>
table {
    border: 0px solid #ED0000;
  background-color: #D9D9D9;
  width: 55%;
  text-align: center;
  border-collapse: collapse;
}
}

td, th {
    border: 1px solid #00FFFF;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #00FFFF;
}
</style>
</head>
<body>

<center>
  <table class="rwd-table">

  <tr >
 <!--  <th > Currency Name </th> --> 
 <!--  <th > Current Value </th>  --> 
   <th style="color:#00ffff"> Currency Name </th> 
   <th style="color:#00ffff"> Current Value </th>   
  </tr>
  

    <% 
	for (var prop in quetes ) {
	%>
	<tr style="color:#000000">
	<td style="color:#000000">
	 <%=real[prop] %>
	
	</td>
	<td>
    <%= quetes[prop] %>
<% } %>
</td>
</tr>

  </table>  
  </center>

</body>

</article>
</div>
</div>
<!-- </div> -->
	<!--	 </div> -->
      <!-- FOOTER -->   
     <!-- <footer>
         <div class="line">
            <div class="s-12 l-6">
               <p>Copyright 2015, Vision Design - graphic zoo
               </p>
            </div>
            <div class="s-12 l-6">
               <p class="right">
                  <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
               </p>
            </div>
         </div>
		 
      </footer>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>   
      <script type="text/javascript">
         jQuery(document).ready(function($) {  
           $("#owl-demo").owlCarousel({
         	slideSpeed : 300,
         	autoPlay : true,
         	navigation : false,
         	pagination : false,
         	singleItem:true
           });
           $("#owl-demo2").owlCarousel({
         	slideSpeed : 300,
         	autoPlay : true,
         	navigation : false,
         	pagination : true,
         	singleItem:true
           });
         });	
          -->
      </script> 
   </body>
</html>
