<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header1 %>
    </header>

    <main>
        <div class="head">
            <h1>כאן נמיר מטבעות</h1>
            <p>The Result is:</p>
			<p><%= num%></p>
			
        </div>

		  </main>

   

</body>
</html>